<h1>RepoStats#show</h1>
<p>Find me in app/views/repo_stats/show.html.erb</p>
<h2>Authors by additions</h2>
<table>
  <% @top_add_contribs.each do |contrib| %>
    <tr>
      <td><%= contrib.author.nickname %></td>
      <td><%= contrib.lines_added %></td>
    </tr>
  <% end %>
</table>
<h2>Authors by deletions</h2>
<table>
  <% @top_delete_contribs.each do |contrib| %>
    <tr>
      <td><%= contrib.author.nickname %></td>
      <td><%= contrib.lines_deleted %></td>
    </tr>
  <% end %>
</table>