<%= form_tag(repo_stats_show_path, method: 'get') do %>
<h1>MainScreen#show</h1>
<p>Find me in app/views/main_screen/show.html.erb</p>

<%= label_tag(:repo_name, "Open repository") %>
<%= text_field_tag(:repo_name) %>
<%= submit_tag("Open") %>
<% end %>
