<%= form_tag(repo_stats_show_path, method: 'get') do %>
<h1>YAGS</h1>
<p>Yet another GitHub statistics</p>

<%= label_tag(:repo_name, "Enter repository name") %>
<%= text_field_tag(:repo_name) %>
<%= submit_tag("Open") %>
<% end %>


<table>
  <tr>
    <td>First repo</td>
  </tr>
  <tr>
    <td>Second repo</td>
  </tr>
  <tr>
    <td>Third repo</td>
  </tr>
</table>